@using AspNetCoreIdentity.Extensions
@{
    ViewData["Title"] = "Segredo!";
}
<h2>@ViewData["Title"]</h2>

<p>Segredo!</p>
@{ 
    if(this.ifClaim("Produtos", "Adicionar"))
    {
        <p>Claim teste "Produtos/Adicionar</p>
    }
}

<div>
    @Html.ActionLink("Secret", "Secret").ifClaimShow(Context, "Produtos", "Adicionar");
</div>

<div>
    <br/>
    <a href="#" class="btn btn-danger" @Html.Raw(this.ifClaimShow("Produtos", "Adicionar"))>Excluir</a>
</div>